html.login, html.login body{ background-color:#888; }
html.login form{ margin-bottom:0; }
html.login div.modal{ position:relative;margin:48px auto;top:0;left:0; }
#modal-recovery{ display:none; }
.dropdown-menu{ display:none; }
.container.top{ margin-top:80px; }
.center{ text-align:center; }
form.search{ margin:0 0; }
.list-page h2 a{ float:right; }
.crud-actions{ width:158px; }

#footer {
  margin:30px 0 30px 0;
  background-color: #fff;
  background-repeat: no-repeat;
  border-top:1px solid #eee;
  padding-top:30px;
}

body.login #footer hr {
  display: none;
}

#footer p a {
  font-weight: bold;
}

#footer p {
  margin-bottom: 0;
}
#footer p.right {
  float: right;
}

.navbar-fixed-top .brand {
  font-weight: bold;
  margin-left: 20px;
  padding-left: 0;
  padding-right: 0;
  font-size:16px;
 /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);*/
}

.plain-form {
  margin: 0 0;
}

.progress-form-file {
  margin: 18px 0;
  width: 260px;
}

.users-header a {
  float: right;
}

.reset-margin{
  margin: 0;
}

.pagination{
  text-align: center;
} 

label{
  margin: 0 20px;
} 

form label:first-child{
  margin: 0 20px 0 12px;
} 

.container.login{margin-top: 60px;}
.sidebar-nav {
  padding: 9px 0;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.help-inline{
	font-size:11px;
	color:#999999;
}
.upl{
	font-size:12px;
	font-weight:bold;
	color:#666;
	padding: 2px 0 2px 0;
}

.soundholder,.soundholderdef,.soundholderplural{
	float:left;
	width:180px;
	margin-right:15px;
	height:40px;
	cursor:pointer;
}

.soundholder,.soundholderdef,.soundholderplural img{
	vertical-align:middle;
}
.galleryimage {
	margin-top:10px;
	max-height:500px;
	overflow:auto;
}
.thumbholder {
    float: left;
    width: 110px;
	margin-right:25px;
}

.simageholder {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    cursor: pointer;
    margin: 0 8px 5px;
    padding: 5px;
    text-align: center;
}

.selectedimage{
	 border: 1px solid #09C;
}

.simageholder .img {
    overflow: hidden;
	height:80px;
}

.simagecaption {
    float: left;
    font-size: 10px;
    height: 20px;
    margin: 0 8px 5px;
    padding: 5px;
    width: 100%;
}

.galleryradio {
    position: absolute;
    right: 5px;
    top: 5px;
}

.audiouploadholder{
	margin-top:30px;
}

.imagecolumn{
	display:none;
}

input[type=text], textarea {
	width:320px;
}
.tivoli-1-main-words-img{
	background-color:#F2F2F2;
}

.tivoli-1-main-words-img, .tivoli-1-optional-words-img{
	float:left;
	padding:10px;
	display:none;
}

.list_words{
	list-style:none;
}

.list_words li{
	float:left;
	height:25px;
}

.col-xs-4{
	width:50%;
}

.col-xs-25{
	width:25%;
}


.tivoli-1-column1{
	float:left;width:45%;padding:5px;border:1px dotted #ccc;
}
.tivoli-1-full{
	float:left;width:96%;padding:5px;border:1px dotted #ccc;
}
.tivoli-1-column2{
	margin-left:20px;float:left;margin-right:20px;width:45%;padding:5px;border:1px dotted #ccc;
}
.tivoli-1-sub-head{
	margin-left:36px;padding-bottom:20px;
}
.tivoli-words-image{
	float:left;
	padding:5px 5px 5px 0;
	margin-left:5px;
	border:1px solid #CCC;
	position:relative;
}
.image-loader {
    background: url("../img/ajax-loader.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.brand {
	float:left;
}

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background-color: #f2dede;
}

.relative{
	position:relative;cursor:pointer;
}

.absolute-topright{
	position:absolute;top:5px;right:5px;
}

.no-padding{
	padding:0 8px 0 2px!important;
	margin-bottom:5px;
}
ul.list_words li label input.checkbox{
	margin-top:0;
}

.selectedsound {
	padding:3px 0 3px 15px;
	color:#666;
	font-weight:normal;
}

.selectedsound span{
	margin-right:10px;
}

.playAudio{
	cursor:pointer;
}
.mediaholder{
	margin-left:12px;
	margin-top:20px;
}

.atoz .pagination ul > li > a {
	padding:4px 4.6px;
}
.atoz .pagination{
	text-align:left;
	margin:0 0 0 7px;
}
.atoz input[type=text]{
	width:200px;
	height:20px;
}
.atoz input[type=button]{
	padding:4px 5px 4px 5px;
	margin-left:10px;
}
.atoz .ajaxinput{
	float:left;
	margin-left:10px;
}
.atoz .ajaxfilter {
	float:left;margin-left:15px;
}

.atoz .ajaxfilter select{
	font-size:12px;
}
.no-records{
	margin-left:8px;
	color:#666;
	font-size:13px;
}

.pvw_loader {
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    left: 50%;
    padding: 15px;
    position: fixed;
    top: 50%;
    z-index: 9999;
	color:#fff;
}

.selectedmediafile{
	border:none!important;
	background-color:#fff!important;
}
.addtags {
	font-size:12px;
}
.selecttags .bootstrap-select{
	width:100%!important;
}
.controls2 .bootstrap-select{
	width:450px!important;
}
.selecttags .selectpicker{
	font-size:11px!important;
}

.controls2 .selectpicker{
	font-size:12px!important;
}
.tableheads th{
	vertical-align:top!important;
}
.modal-lg {
	width:1024px!important;
}

.general-settings .control-label{
	width:260px;
	text-align:left;
}

.general-settings .help-inline{
	font-weight:normal;
	padding-left:0;
}

.general-settings .form-actions{
	padding-left:292px;
}

.tags-setting .control-label{
	width:150px;
	text-align:left;
}
.tags-setting .form-actions{
	padding-left:292px;
}

.table td {
	vertical-align:middle;
}

.tivoli4,.tivoli31 {
	margin-right:20px;
	margin-bottom:20px;
}

.equalto-div {
    float: left;
    font-size: 20px;
    padding: 60px 20px 60px 0px;
    text-align: center;
    vertical-align: middle;
}

.set-block {
    float: left;
	width:530px;
}

.remove-holder {
    float: left;
    padding: 50px;
}
.selected-heading{
	display:none;
	padding:10px 0 20px 0px;
}

.lssnippet{
	display: inline-block;
    padding-left: 13px;
	margin-top:-22px;
    vertical-align: middle;
	color: #999999;
    font-size: 11px;
}
.concatedtable th, .concatedtable td{
	border-left:none !important;
}

.sub-results-tivoli-4
{
	position:absolute;
	background-color:#fff;
	display:none;
	width:500px;
	z-index:99;
	top:100%;
	left:-1px;
}
.sub-results-tivoli-4 table{
	border-top:none;
}
.sub-results-tivoli-4 table th{
	background:#000 !important;
	color:#fff;
	border-radius:0 !important;
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
}

.classtab{
	background:#000 !important;
	color:#fff!important;
	display:inline-block;
	padding:3px 5px;
	text-decoration:none !important;
}
.optioncheck{
	display:none !important;
}

.delete-absolute{
	background-color: #cc0000;
    color: #fff;
    font-weight: bold;
    height: 14px;
    line-height: 11px;
    padding: 0 4px;
    position: absolute;
    right: 2px;
    top: 2px;
}
.delete-absolute.left{
	left:2px;
	right:inherit;
}
.display-selected-main{
	float:left;padding:5px 10px 10px 0px;min-width:290px;
}

.display-selected-option{
	float:left;padding:5px 10px 10px 0px
}

.tivoli-5-2{
	margin-top:15px;
}

.tivoli-5-2 select{
	width:295px;
}
.elements-block-5-2 {
	float:left;
}
.image-block-5-2{
	float:left;
}

.image-block-5-2 .tivoli-main-words-img{
	margin-top:0!important;
}

.select-question-5-2 {
	margin-bottom:15px;
	padding-left:37px;
	margin-top:10px;
}

.table-border-bottom td{
	border-bottom:1px solid #999!important;
}

.hide-deleted-rows{display:none;}

.li-alphabets{
	width:100px;	
}

.li-alphabets label span{
	margin-left:10px;
	vertical-align:middle;
}

.selected-stuffs{
	float:left;
	width:200px;
}

.selected-stuffs .audio-png{
	margin-right:10px;
}

.selected-stuffs .chk{
	margin-right:10px;
}
.select-label{
	margin-top:20px;
	padding-bottom:15px;
	font-weight:bold;
	color:#666;
	display:none;
}

.remove-from-selected{
	background-color:#FF0000;
	font-weight:bold;
	color:#fff;
	padding:2px 4px;;
	font-size:11px;
	line-height:8px;
	margin-left:5px;
	cursor:pointer;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.selected-words-images{
	float:left;
	padding-bottom:20px;
}

.selected-words-images .tivoli-main-words-img .tivoli-words-image{
	margin-bottom:10px;
}

.sub-div-popup {
	float:left;
	width:46%;
	padding:2px 5px;
	border:1px solid #ccc;
}

.table-big-font td{
	font-size:14px;	
}

.answer_options{
	margin-bottom:5px;
	padding-left: 11px;
}
.answer_options span{
	padding-right: 5px;
}

.bold{
	color:green;
}